---
import '../styles/main.css'

const subheading = "The smarter email assistant.";
const appIcon = "/images/app-icon.svg";
const extensionScreenshot = "/images/extensionScreenshot.png";
const pageScreenshot = "/images/pageScreenshot.png";
const footerImage = "/images/banners.svg";
const badges = [
	{
		link: "https://apps.apple.com/us/app/party-banner/id1610931185",
		image: "/images/app-store-badge.svg"
	},
	{
		link: "https://apps.apple.com/us/app/party-banner/id1610931185",
		image: "/images/google-play-badge.png"
	},
];
const authors = [
	{
		name: "Josh Moskoff",
		url: ""
	},
	{
		name: "John Cohen",
		url: ""
	},
	{
		name: "Dalond Bidonne",
		url: ""
	},
	{
		name: "Kaitlin McConnon",
		url: ""
	},
	{
		name: "Daiki Sai",
		url: ""
	},
];
const pageTitle = "Smart Mail"
const favicon = "/images/app-icon.svg"

---

<script>
	
	const heading = "Smart Mail"
	const headingContainer = document.getElementById('Heading');
	// Create a single span element for the entire heading text
	const span = document.createElement('span');
	span.textContent = heading;

	// Append the span element to the heading container
	headingContainer?.appendChild(span);

</script>

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href={favicon} />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<div class="container">
			<main>
				<div class="text-container">
					<img src={appIcon} class="app-icon">
					<h1 id="Heading" class="heading jump-letters">{<span></span>}</h1>

					<div class="card">
						<h2 class="subheading">{subheading}</h2>
						<div class="badge-container">
							{badges.map(badge => (
								<div>
									<a href={badge.link} target="_blank">
										<img src={badge.image} class="badge" />
									</a>
								</div>
							))}
						</div>
						<p class="authors">Developed by 
							{authors.map((author, index) => (
									<span>
										{index > 0 ? (index === authors.length - 1 ? ' and ' : ', ') : ''}
										<a href={author.url} target="_blank">{author.name}</a>
									</span>
							))}
						</p>
					</div>
					
				</div>
				<div>
					<img src={extensionScreenshot} class="extension-screenshot">
				</div>
			</main>
			<img src={pageScreenshot} class="page-screenshot">
		</div>
		<footer class="foot">
			<!-- <img src={footerImage} class="footer-image"> -->
			© SmartMail 2024
		</footer>
	</body>
</html>